#halfRocks {
    padding: 20px;
    margin: 20px;
    background-color:lightskyblue;
    color:royalblue;
    border-radius: 5px;
    border-color: aliceblue;
    border-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}